body {
  font-size: 18px;
  line-height: 32px;
  color: $default;
  @extend %chivo-400;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-little {
  max-width: 1086px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-slider{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}