$green: #66BB6A;
$default: #324148;
$title: #000;

%chivo-400{
    font-family: 'Chivo-Regular', sans-serif;
    font-weight: 400;
}

%chivo-700 {
  font-family: 'Chivo-Bold', sans-serif;
  font-weight: 700;
}